.btn {
  /* color: red; */
}

.btn-blue {
  background: blue;
}

.body_box {
  border: 6px double red;
}

.blue_box {
  border: 6px solid blue;
}

.green_box {
  border: 6px solid green;
}

.red_box {
  border: 6px solid red;
}

.pink_box {
  border: 6px double pink;
}

.yellow_box {
  border: 6px double yellow;
}

.green_double_box {
  border: 6px double green;
}

.brown_box {
  border: 6px double brown;
}

.black_bg_box {
  background-color: black;
}

.white {
  color: white;
}

.lg_font {
  /* font-size: 20px; */
}

.purple_box {
  border: 6px solid purple;
}

label {
  padding: 3px;
}
