<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDisplayName</key>
        <string>Open Worship</string>
        <key>CFBundleExecutable</key>
        <string>open-worship.sh</string>
        <key>CFBundleIconFile</key>
        <string>open-worship.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.open-worship.app</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>Openworship</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <string>0.1.0</string>
        <key>CSResourcesFileMapped</key>
        <true/>
        <key>LSRequiresCarbon</key>
        <true/>
        <key>NSHighResolutionCapable</key>
        <true/>

        <key>CFBundleShortVersionString</key>
        <string>%BUNDLE_VERSION%</string>
        <key>CFBundleVersion</key>
        <string>%BUNDLE_BUILD%</string>
    </dict>
</plist>


