.btn {
  /* color: red; */
}

.btn-blue {
  background: blue;
}

.body_box {
  border: 6px double red;
}

.blue_box {
  border: 6px solid blue;
}

.green_box {
  border: 6px solid green;
}

.red_box {
  border: 6px solid red;
}

.pink_box {
  border: 6px double pink;
}

.yellow_box {
  border: 6px double yellow;
}

.green_double_box {
  border: 6px double green;
}

.brown_box {
  border: 6px double brown;
}

.gray_bg_box {
  background-color: gray;
}

.black_bg_box {
  background-color: black;
}

.white {
  color: white;
}

.lg_font {
  /* font-size: 20px; */
}

.purple_box {
  border: 6px solid purple;
}

label {
  padding: 3px;
}

.ow-listview:focus-within row:selected {
  background-color: blue;
}

.ow-listview row:selected {
  background-color: grey;
}

row:focus {
  background-color: red;
}

editablelabel.schedule-list-item-editable {
  font-style: italic;
  color: gray;
}

*:focus editablelabel.schedule-list-item-editable {
  font-style: italic;
  color: white;
}

.schedule-list-item-preview {
  background-color: black;
  border: 3px solid white;
  outline: 1px solid gray;
}

.bg-preview-box {
  background-color: black;
  border: 3px solid white;
  outline: 1px solid gray;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-black {
  border-color: black;
}

.fade-in-image {
  /* animation: fadeIn 5s; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ow-grabber {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  min-height: 16px;
  min-width: 16px;
}

.ow-grabber:hover,
.ow-grabber:active,
.ow-grabber:focus {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}
.ow-canvas-item-grid {
  border: 2px dotted transparent;
  margin: 7px;
}
.ow-canvas-item-grid-select {
  border-color: white;
}

/* text-shadow:  */
/* #000 -1px -1px 1px,   */
/* #000 1px -1px 1px, */
/* #000 -1px  1px 1px, */
/* #000 1px  1px 1px; */
/* -2px 2px 1px black; */
