[Desktop Entry]
Type=Application
Name=Openworship
Categories=AudioVideo
GenericName=Church lyrics projection
Comment=Project lyrics, bible verses, media and more.
Keywords=projection,multimedia,videos,music,songs,worship
Icon=openworship
# X-KDE-SubstituteUID=false
Exec=openworship 
Terminal=false
