name: Release Linux Build

on:
  workflow_dispatch: {}

# Incremental compilation here isn't helpful
env:
  CARGO_INCREMENTAL: 0

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: kalilinux/kali-rolling
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install GTK4 and libfuse2 (Linux)
        run: |
          apt-get update
          apt-get install -y curl wget git libssl-dev file pkg-config libgtk-4-dev build-essential libfuse2 librsvg2-dev

      - name: Configure cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Check GTK
        run: |
          echo "[GTK_VERSION]: $(pkg-config --modversion gtk4)"
          echo "[PKG]: $(which pkg-config)"
          echo "[PKG_PATH]: $(pkg-config --variable pc_path pkg-config)"
          apt search libgtk-4-dev

      - name: Cargo build
        run: |
          cargo build --target $(rustup target list | awk '/installed/ {print $1;}') --release

      - name: Install cargo-deb (Linux)
        run: cargo install cargo-deb

      - name: Package (Linux, with modern)
        run: ./build-linux.sh

      - name: Upload AppImage to artifacts (Linux)
        uses: actions/upload-artifact@v4
        with:
          name: openworship-ubuntu-x86_64-appimage
          path: openworship-*.AppImage
          if-no-files-found: error

      - name: Upload installer to artifacts (Linux)
        uses: actions/upload-artifact@v4
        with:
          name: openworship-ubuntu-x86_64-deb
          path: openworship*.deb
          if-no-files-found: error

      # create release with
      # https://github.com/softprops/action-gh-release
